{%- set mods = [] %}

{%- if lazylibrarian.container.calibredb_import %}
{%-   do mods.append("linuxserver/calibre-web:calibre") %}
{%- endif %}

{%- if lazylibrarian.container.ffmpeg %}
{%-   do mods.append("linuxserver/mods:lazylibrarian-ffmpeg") %}
{%- endif %}

{%- for conf in ["puid", "pgid", "tz"] %}
{%-   if lazylibrarian.container[conf] is not none %}
{{ conf | upper }}={{ lazylibrarian.container[conf] }}
{%-   endif %}
{%- endfor %}

{%- if mods %}
DOCKER_MODS={{ mods | join("|") }}
{%- endif %}
